// Override bootstrap variables
$primary: #efefef;
$secondary: $primary;
$body-color: $primary;
$navbar-dark-color: $primary;

@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/scss/bootstrap';
@import 'style.css';
