#background-color {
    background-color: #752e2e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#background-img {
    background: url(/static/img/BackgroundLogo.png) center/40% fixed no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 30%;
}

.navbar {
    font-weight: bold;
}

.navbar-brand {
    font-size: 40pt !important;
}

.navbar-brand img {
    width: 80px;
    height: 80px;
}

.nav-link {
    font-size: 23pt;
}

.active > .nav-link {
    text-decoration: underline;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: underline !important;
}

.username {
    margin-right: 1em;
    font-style: italic;
}

.content {
    background-color: rgba(100, 50, 50, 0.8);
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    font-size: 15pt;
}

.row {
    margin-bottom: 15px;
}

.content a {
    font-weight: bold;
}

/* Somewhat hacky but works to indent grid contents and orders to the right */
.content .row p, .content .row a, .order p {
    margin-left: 15px;
}

.content .row li a {
    margin-left: 0px;
}

.table {
    font-size: 15pt;
}

.links {
    list-style: none;
}

.explainer {
    font-size: 12pt;
    display: inline-block;
    vertical-align: middle;
}

.banner {
    width: 150px;
}

.link-img {
    width: 60px;
    height: 60px;
    display: flex;
    align-content: center;
    align-items: center;
}

.table thead th {
    border-bottom: 2px solid #dee2e6 !important;
}
